@model QLHH_GRAB.Models.DONDATHANG

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Xóa Đơn Đặt Hàng</h2>
<h4 style="color:red;"> Bạn có chắc chắn xóa thông tin này?</h4>
<table border="0" cellpadding="0" cellspacing="0" style="font-size:14px;margin-left:50px;">
    <tr>
        <td>
            <table cellpadding="2" cellspacing="10">
                <caption><b>THÔNG TIN CHI TIẾT</b></caption>
                <tr>
                    <td rowspan="8"></td>
                    <td>Số hóa đơn:</td>
                    <td>@Html.DisplayFor(model => model.SOHOADON)</td>
                </tr>
                <tr>
                    <td>Mã khách hàng:</td>
                    <td>@Html.DisplayFor(model => model.MAKHACHHANG)</td>
                </tr>
                <tr>
                    <td>Mã nhân viên:</td>
                    <td>@Html.DisplayFor(model => model.MANHANVIEN)</td>
                </tr>
                <tr>
                    <td>Ngày đặt hàng:</td>
                    <td>@Html.DisplayFor(model => model.NGAYDATHANG)</td>
                </tr>
                <tr>
                    <td>Ngày giao hàng:</td>
                    <td>@Html.DisplayFor(model => model.NGAYGIAOHANG)</td>
                </tr>
                <tr>
                    <td>Ngày chuyển hàng:</td>
                    <td>@Html.DisplayFor(model => model.NGAYCHUYENHANG)</td>
                </tr>
                <tr>
                    <td>Nơi giao hàng:</td>
                    <td>@Html.DisplayFor(model => model.NOIGIAOHANG)</td>
                </tr>

            </table>
        </td>
    </tr>
</table>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color" style="margin-left:50px;">
        <input type="submit" value="Xóa" class="btn btn-default" /> |
        @Html.ActionLink("Quay lại", "Index")
    </div>
}
