@model QLHH_GRAB.Models.DONDATHANG

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thông Tin Đơn Đặt Hàng</h2>
<table border="1" cellpadding="0" cellspacing="0" style="font-size:18px;margin-left:50px;">
    <tr>
        <td>
            <table cellpadding="2" cellspacing="10">
                <caption><b>THÔNG TIN CHI TIẾT</b></caption>
                <tr>
                    <td rowspan="8">
                    <td>Số hóa đơn:</td>
                    <td>@Html.DisplayFor(model => model.SOHOADON)</td>
                </tr>
                <tr>
                    <td>Mã khách hàng:</td>
                    <td>@Html.DisplayFor(model => model.MAKHACHHANG)</td>
                </tr>
                <tr>
                    <td>Mã nhân viên:</td>
                    <td>@Html.DisplayFor(model => model.MANHANVIEN)</td>
                </tr>

                <tr>
                    <td>Ngày đặt hàng:</td>
                    <td>@Html.DisplayFor(model => model.NGAYDATHANG)</td>
                </tr>
                <tr>
                    <td>Ngày giao hàng:</td>
                    <td>@Html.DisplayFor(model => model.NGAYGIAOHANG)</td>
                </tr>
                <tr>
                    <td>Ngày chuyển hàng:</td>
                    <td>@Html.DisplayFor(model => model.NGAYCHUYENHANG)</td>
                </tr>
                <tr>
                    <td>Nơi giao hàng:</td>
                    <td>@Html.DisplayFor(model => model.NOIGIAOHANG)</td>
                </tr>

            </table>
        </td>
    </tr>
</table>
<p style="margin-left:50px;">
    @Html.ActionLink("Cập nhật", "Edit", new { id = Model.SOHOADON }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
