@{
    try
    {
        string hoTen = Session["HoTen"].ToString();
        if (hoTen != null)
        {
            ViewBag.NguoiDung = "Thông tin người dùng: " + hoTen;
        }
        else
        {
            ViewBag.NguoiDung = "Thông tin người dùng: Chưa đăng nhập ";
        }
    }
    catch
    {

    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/styleAdmin.css" rel="stylesheet" />
</head>
<body style="margin-top:0px;">
    <div id="top" data-no-translation="">
        <div class="container">
            <style>
                .wrapper {
                    margin-top: 68px;
                }

                #top .navbar-default .navbar-collapse {
                    padding-left: 6px;
                    padding-right: 6px;
                }

                #top .navbar-default {
                    min-height: 66px;
                }

                #top .navbar-brand {
                    margin-top: 16px;
                }
            </style>
            
            <div id="banner" style="top:0px;position:absolute;">HỆ THỐNG QUẢN LÝ THÔNG TIN HÀNG HÓA</div>

            <div id="menu" style="margin-top:10px;">
                <div>
                    <img src="~/Images/grab-logo.png" width="100" height="100" alt="Academi"></a>
                    @Html.ActionLink("TRANG CHỦ", "../MATHANGs/TrangChu", new { @class = "a" }) &nbsp;|&nbsp;
                    @Html.ActionLink("HÀNG HÓA", "../MATHANGs/Index", new { @class = "a" }) &nbsp;|&nbsp;
                    @Html.ActionLink("NHÂN VIÊN", "../MATHANGs/Index", new { @class = "a" })&nbsp;|&nbsp;
                    @Html.ActionLink("TÌM KIẾM", "../MATHANGs/TimKiem", new { @class = "a" })&nbsp;|&nbsp;
                    @Html.ActionLink("HÓA ĐƠN", "../DONDATHANGSs/HoaDon", new { @class = "a" })&nbsp;|&nbsp;
                    <hr style="display: block;border-top: 1px solid aqua;  margin: 8px 0;" />
                </div>
                <div>
                    <p align="right">  @ViewBag.NguoiDung</p>
                </div>
            </div>
            <div id="content">
                @RenderBody()
            </div>
            <footer id="page-footer" class="py-3 bg-dark text-light">
                <div id="footer">
                    <div class="footer-main" id="yui_3_17_2_1_1641874388641_26">
                        <div class="container" id="yui_3_17_2_1_1641874388641_25">
                            <div id="course-footer"></div>
                            <div class="row" id="yui_3_17_2_1_1641874388641_24">

                                <div class="col-md-5" id="yui_3_17_2_1_1641874388641_23">
                                    <div class="infoarea" id="yui_3_17_2_1_1641874388641_22">
                                        <div class="footer-logo">
                                            <img src="~/Images/grab-logo.png" width="100" height="100" alt="Academi"></a>
                                        </div>

                                        <p id="yui_3_17_2_1_1641874388641_21">
                                            Grab Việt Nam
                                            Forward Together
                                            Công ty TNHH Grab
                                            Địa chỉ: Tòa nhà Mapletree Business Center, Số 1060 Đại lộ Nguyễn Văn Linh,
                                            Phường Tân Phong, Quận 7, Thành phố Hồ Chí Minh, Việt Nam
                                            Mã số doanh nghiệp: 0312650437 cấp bởi Sở Kế hoạch và
                                            Đầu tư TP. Hồ Chí Minh ngày 14/02/2014
                                            Đại diện pháp lý: Nguyễn Thái Hải Vân
                                            Chức vụ: Giám Đốc Điều Hành<br>
                                        </p>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="foot-links">
                                        <h2>Info</h2>
                                        <ul>
                                            <li><a href="https://www.grab.com/vn/" target="_blank">Trang Chủ GRAB</a></li>
                                            <li><a href="https://www.grab.com/vn/express/" target="_blank">Trung Tâm Hỗ Trợ</a>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="contact-info">
                                        <h2 class="nopadding">Contact us</h2>

                                        <p>
                                            Tòa nhà Mapletree Business Center, Số 1060 Đại lộ Nguyễn Văn Linh,
                                            Phường Tân Phong, Quận 7, Thành phố Hồ Chí Minh, Việt Nam<br>
                                            <i class="fa fa-phone-square"></i> Phone : 0312650437<br>
                                            <i class="fa fa-envelope"></i> E-mail : <a class="mail-link" href="https://www.grab.com/vn/express/">GRAB@gmail.com</a><br>
                                        </p>

                                    </div>
                                    <div class="social-media">
                                        <h6>Follow us</h6>
                                        <ul>
                                            <li class="smedia-01"><a href="https://www.facebook.com/https://www.facebook.com/GrabVN/"><i class="fa fa-facebook-square"></i></a></li>
                                            <li class="smedia-02"><a href="https://www.pinterest.com"><i class="fa fa-pinterest-square"></i></a></li>
                                            <li class="smedia-03"><a href="https://www.twitter.com"><i class="fa fa-twitter-square"></i></a></li>
                                            <li class="smedia-04"><a href="https://www.google.com"><i class="fa fa-google-plus-square"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </footer>

</body>
</html>

