@model QLHH_GRAB.Models.NHANVIEN

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NHANVIEN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAYSINH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYSINH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAYLAMVIEC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYLAMVIEC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIACHI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIACHI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIENTHOAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIENTHOAI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LUONGCOBAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LUONGCOBAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PHUCAP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHUCAP)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MANHANVIEN }) |
    @Html.ActionLink("Back to List", "Index")
</p>
